<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 定义页面显示的编码格式 -->
    <meta charset="utf-8">
    <script th:src="@{../js/jquery-3.1.1.min.js}"></script>

    <script>

    </script>
</head>
<body>
<div>
    <form action="/getUser" method="post">
        <input type="text" placeholder="登录名"  name="loginname" th:value="*{loginname}"/>
        <input type="submit" value="搜素"/>
    </form>
</div>
<div>
    <!--<a href="add.html" th:href="@{/add}">新增</a>-->
    <!--<button onclick="$('#show_alert').show();">新增</button>-->
    <button onclick="window.open('/add')">新增</button>
</div>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>登录名</td>
        <td>姓名</td>
        <td>操作</td>
    </tr>
    </thead>

    <tr th:if="${userModel.allUser.size()} eq 0">
        <td colspan="3">没有对应的列表</td>
    </tr>


    <tbody id="tbody">
    <tr th:each="user : ${userModel.allUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.loginname}"></td>
        <td th:text="${user.name}"></td>

        <td><a th:href="@{'/delete/'+${user.id}}">删除</a></td>
        <td><a th:href="@{'/edit/'+${user.id}}">修改</a></td>
    </tr>
    </tbody>

</table>

</body>
</html>